@model ImageService.WebApplication.Models.Photo
@{
    ViewBag.Title = "ViewPhoto";
}
<style >
    .button {
        background-color: dodgerblue; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    #btnOk {
        background-color: red;
    }
</style>
<h2>ViewPhoto</h2>
@{
    string path;
    string name;
    string date;
    try
    {
        path = Request.Params["Path"].ToString();
        name = Request.Params["Name"].ToString();
        date = Request.Params["Date"].ToString();
    }
    catch (Exception)
    {
        path = null;
        name = null;
        date = null;
    }
    if (path != null)
    {
        <br />
        <img src="~/@path" />
        <br />
        <br />
        <br />
        <p class="h3"><text class="label-info">Name:</text> <text id="PhotoName">@name</text>:
        <br />
        <br />

        <text class="label-info">Date:</text> @date</p>
        <br />
        <a href="@Url.Action("Photos", "Photos", null)" class="btn btn-info btn-xs button" role="button">
            BACK
        </a>
        <a href="@Url.Action("DeletePhoto", "Photos", Model)" id="btnOk" class="btn btn-info btn-xs button" role="button">Delete </a>

    }

}

